input[type="text"], input[type="email"]{
  width: 100%;
  height: 36px;
  border: 1px solid gray;
}

.submitBtn {
  width: 100%;
  height: 40px;
  background: #4CAF50;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.textAreaDiv{
  padding-top: 10px;
  padding-bottom: 10px
}

.primaryHeading{
  font-size: 24px;
  font-weight: bold;
  color: gray;
  text-decoration: underline;
}


#user_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#user_table td, #user_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#user_table tr:nth-child(even){background-color: #f2f2f2;}

#user_table tr:hover {background-color: #ddd;}

#user_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}



#user_table a:hover {
  cursor: pointer;
 text-decoration: underline;
}
